{% extends 'store/base.html' %}

{% block title %}Product Home Page{% endblock %}

{% block categories %}
<ul class="list-group">
    <li class="list-group-item">
        <a href="{% url 'home' %}" class="no-underline">Tất cả sản phẩm</a>
    </li>
    {% for category in categories %}
    <li class="list-group-item">
        <a href="{% url 'home' %}?category={{ category.category_id }}" class="no-underline">{{ category.category_name }}</a>
    </li>
    {% endfor %}
</ul>
{% endblock %}

{% block content %}
<div class="col-11">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
        {% for product in products %}
        <div class="col">
            <div class="card">
                <a href="{% url 'product' product_id=product.id %}" class="no-underline">
                <img src="{{ product.image }}" class="card-img-top" alt="{{ product.product_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ product.product_name }}</h5>
                    <p class="card-text text-truncate" style="max-height: 3rem;">{{ product.description }}</p>
                    <a href="{% url 'product' product_id=product.id %}" class="btn btn-primary">Xem sản phẩm</a>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}